*{
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    background-color:black;
    color: white;
    height: 5rem;
    line-height: 5rem;
}

.choice{
    height: 175px;
    width: 175px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    height: 160px;
    width: 160px;
    object-fit: cover;
    border-radius: 50%;
}

.options{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.choice:hover{
    cursor: pointer;
    background-color: #081b31;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}

#user-score , #comp-score{
    font-size: 4rem;
}

.controls{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.message-box{
    margin-top: 5rem;
}

.message{
    background-color: #081b31;
    color: white;
    font-size: 2rem;
    display: inline;
    padding : 1rem;
    border-radius: 1rem;
}

.reset{
    margin-top: 5rem;
}

.rst{
    background-color: #081b31;
    color: white;
    font-size: 2rem;
    display: inline;
    padding : 1rem;
    border-radius: 1rem;
}

.message-box:hover{
    cursor: pointer;
}

.reset:hover{
    cursor: pointer;
}